header div {
  width: 96%;
  padding: 0 2%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .back {
  padding: 0;
  line-height: 100%;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
header .connection {
  margin: 0;
  padding: 0 0.5rem 0 0;
}
header button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Rajdhani", "Arial", sans-serif !important;
  font-weight: bold;
  font-size: 1rem;
}

header div a:hover,
header button:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  header .back {
    padding: 0.5rem 0 0 0;
  }
  header .connection {
    padding: 0 0.5% 0 0;
  }
}
