body {
  padding: 0;
  background-color: #7a0400;
  background-image: url("assets/brick-wall.webp");
}
h1 {
  font-size: 3rem;
}
h3 {
  margin: 0;
}

.App {
  text-align: center;
}
.App a {
  color: #000;
  text-decoration: none;
}

.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.Home li {
  height: 9rem;
  width: 9rem;
  background-color: #7a0400;
  color: rgb(179, 142, 142);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.Home li:hover {
  background-color: #331615;
}
.Home .theme {
  background-color: #8f4d21;
  color: rgb(230, 226, 40);
  width: 20rem;
  height: 5rem;
  transform: rotate(-5deg);
  background-color: #590600;
  background-image: url("assets/dark-wood.webp");
  margin-top: 2rem;
}

@media only screen and (min-width: 992px) {
  .Home li {
    height: 14rem;
    width: 14rem;
    font-size: 1.4rem;
  }
  .Home .theme {
    margin-top: 5rem;
  }
}
