@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

body {
  padding: 0;
  background-color: #7a0400;
  background-image: url("assets/brick-wall.webp");
}
h1 {
  font-size: 3rem;
  width: 25rem;
  margin: auto;
  padding: 3rem 0 2rem 0;
}
h2,
h3 {
  margin: 0;
}
li {
  padding: 0;
}

.App {
  text-align: center;
}
.App a {
  color: #000;
  text-decoration: none;
}

.App header div {
  width: 10rem;
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.App header div a:hover {
  text-decoration: underline;
}

.Home .choices {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.Home .half-conteneur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.Home .choices li {
  height: 9rem;
  width: 9rem;
  background-color: #7a0400;
  color: rgb(179, 142, 142);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.Home .half-conteneur a {
  height: 5rem;
  width: 80%;
  background-color: #7a0400;
  color: rgb(179, 142, 142);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.Home a:hover {
  background-color: #331615;
}
.Home .choices .theme {
  background-color: #8f4d21;
  font-family: "Walter Turncoat", "Arial", sans-serif;
  font-size: 3rem;
  color: rgba(230, 227, 40, 0.685);
  width: 20rem;
  height: 8rem;
  transform: rotate(-5deg);
  background-color: #590600;
  background-image: url("assets/dark-wood.webp");
  padding: 1rem 2rem;
}
.Home .choices .theme:hover {
  color: rgb(230, 227, 40);
}
.Home .choices .theme-link:hover {
  background-color: inherit;
}

@media only screen and (min-width: 992px) {
  .Home .choices li {
    height: 14rem;
    width: 14rem;
    font-size: 1.4rem;
  }
  .Home .choices .theme {
    margin-top: 4rem;
  }
  .Home .half-conteneur a {
    height: 5rem;
    width: 42%;
    font-size: 1.4rem;
  }
}
